@media(min-width:768px){
    /* ------ HEADER STYLE -----*/
    .navbar-default .form-group{
        display:none;
        position: absolute;
        top:35px;
        right: 33px;
        width: 200px;
    }
    header{
        padding: 10px 0;
    }
    header .social .list{
        display:inline-block;  
    }
    /*------  NAVIGATION STYLE ------*/    
    .navbar-default {
        padding: 20px 0;
    }
    .navbar-default .form-group{
        top:35px;
    }
    .navbar-nav .search{
        margin-left: 30px;
    }
    /* ---- .main-slider  style------ */
    .main-slider .core-slider_control-nav-item:first-of-type,
    .main-slider .core-slider_control-nav-item:nth-of-type(2),
    .main-slider .core-slider_control-nav-item:last-of-type{
        width: 50px;
        height: 50px;
    }
    .main-slider .title h2{
        font-size: 55px;
    }
    .main-slider .title p{
        font-size: 16px;
    }
    /* ------ .tab-section  style -------*/  
    .tab-section {
        padding: 70px 0;
    }
    .tab-section p{
        font-size: 20px;
    }
    .tab-section h2{
        font-size: 55px;
        margin-bottom: 50px;
    }
    .nav-pills > li {
        float: left;
        width: 135px;
    }
    .nav-pills{
        display: inline-block;
        border-radius: 30px;
    }
    .tab-section .tab-content article{
        margin-left:5px;
        margin-right: 5px;
    }

    .tab-section .tab-content article h5{
        height: auto;
    }
    /* ------ .testimonials section style ----*/   
    .testimonials .transparent-color{
        padding: 50px 0;
        color: #fff;
    }
    .testimonials h2 {
        font-size: 50px;
    }
    .testimonials p{
        font-size: 14px;
    }
    .booking {
        padding: 50px 0;
    }
    .booking .form-group .btn-default {
        width: 50%;
    }
    /* ---- second page ABOUT -------*/   
    .about div{
        padding: 50px 0;
    }
    .about img {
        width: 70px;
    }
    .about h2{
        font-size: 55px;
        letter-spacing: 1px;
    }
    .about h5{
        font-size: 16px;
    }
    .about h5 + span{
        margin-bottom: 50px;
    }
    .appetizers .lunch li span:first-child:after{
        content:'....Why not try one, or three, or a dozen';
    }
    .lunch{
        margin: 0 25px;
    }
    .appetizers h3{
        margin-left: 25px;
    }
    .morning h2{
        font-size: 40px;
    }
    .morning p{
        font-size: 16px;
        letter-spacing: 1.5px;
    }
    #map {
        height: 400px;
        width: 100%;
        background-color: grey;
    }
    .locations article {
        text-align: left;
    }
    .locations .london::after {
        left:0;
    }
    .blog .blog_left{
        max-height: 320px;
    }
    .blog .blog_left figure{
        height: auto;
    }
    .blog .blog_left div{
        padding: 0 30px;

    }
    .blog figure{
        width:50%;
        float:left;
    }
    .blog .blog_left div{
        padding: 0 30px;
        width: 50%;
        float: left;
    }
    .blog .blog_left h3{
        font-weight: bold;
        font-family: 'PT Serif', serif;
        font-size: 20px;
    }
    .form-inline .form-control {
        width: 292px;
    }
    .description .nav-tabs > li {
        float: left;
    }
    .gallery-slider h3{
        margin-top: 0;
    }
    .gallery-slider ul.social-list{
        position: relative;
        bottom: 15px;
    }


}
@media(min-width:992px){
    h2 + p{
        font-size: 18px;
    }
    /* ----- HEADER STYLE------*/    
    header p{
        display:block;
        position: relative;
        top: 10px;
    } 
    /* -------- NAVIGATION STYLE ----*/
    .navbar .nav > li > a {
        margin-left: 15px;
    }
    .navbar-nav .search{
        margin-left: 60px;
    }
    /*------ .main-slider  style  -----*/    
    .main-slider h2{
        font-size: 65px;
    }
    .main-slider .core-slider_control-nav-item:first-of-type,
    .main-slider .core-slider_control-nav-item:nth-of-type(2),
    .main-slider .core-slider_control-nav-item:last-of-type{
        width: 70px;
        height: 70px;
    }
    /* ------ .tab-section  style -------*/  
    .tab-section h2{
        margin-bottom:75px;
    }
    .nav-pills{
        margin-bottom: 50px;
    }
    .slick-prev:before, .slick-next:before {
        font-size: 20px;
        color: #ccc;
        display: block;
    }
    .slick-prev{
        left:-26px;
        border: 1px solid #ccc;
        border-radius: 50%;
        width: 27px;
        height: 27px;
    }
    .slick-next{
        right: -26px;
        border: 1px solid #ccc;
        border-radius: 50%;
        width: 27px;
        height: 27px;
    }
    .slick-prev:before{
        content: '\f104';
        font-family: FontAwesome;
        line-height: 12px;
    }
    .slick-next:before{
        content: '\f105';
        font-family: FontAwesome;
        line-height: 12px;
    }
    .tab-section .tab-content article{
        margin-left: 10px;
        margin-right: 10px;
    }
    .tab-section .tab-content article h5{
        font-size: 16px;
    }
    .tab-section .tab-content article p{
        font-size: 14px;
    }
    .tab-section .tab-content article a.btn{
        font-size: 14px;
    }
    /*----- .testimonials section style---*/
    .testimonials h2 + p{
        font-size: 18px;
    }
    .testimonials .slick-dotted.slick-slider {
        max-width: 450px;
    }
    /*-------  .special-offers  section  style---*/  
    .special-offers {
        padding: 80px 0;
    }
    .special-offers h4{
        font-size: 25px;
    }
    .special-offers .offers h5{
        font-size: 25px;
    }
    .special-offers .offers h6 {
        font-size: 16px;
    }
    /*------- .services section  style ---*/
    .services{
        padding: 70px 0;
    }
    .services .flower + p{
        margin-bottom: 50px;
    }
    .history h2{
        font-size: 50px;
    }
    .chef h2{
        font-size:55px;
    }
    .chef h5{
        font-size: 18px;
    }
    .services h2{
        font-size: 50px;
    }
    .services h2 + p{
        font-size: 18px;
    }
    .booking h2 {
        font-size: 50px;
    }
    .booking h2 + p {
        font-size: 18px;
    }
    footer div{
        background-color: rgba(210,85,19,.8);
        padding: 20px 0;
    }
    .about div {
        padding: 100px 0;
    }
    .about p{
        padding: 0 200px;
    }
    /* ---- classic_menu.html page style ---*/   
    .appetizers h2 {
        font-size: 50px;
    }
    .morning-breakfast {
        padding: 90px 0;
    }
    .morning-breakfast h2{
        font-size: 50px;
    }
    .dessert h2 {
        font-size: 50px;
    }
    .morning h2{
        font-size: 50px;
    }
    .appetizers {
        padding: 90px 0;
    }
    .pasta {
        padding: 90px 0 0;
    }
    .specials{
        padding: 40px 0 90px;
    }
    .dessert {
        padding: 40px 0 90px;
    }
    .contact {
        padding: 80px 0;
    }
    .contact h2{
        font-size: 55px;
    }
    .contact p {
        font-size: 20px;
        letter-spacing: 1px;
    }
    .contact h4 {
        font-size: 23px;
        margin-bottom: 30px;
    }
    .locations {
        padding: 80px 0;
    }
    .locations h2{
        font-size: 55px;
    }
    .locations .line {
        font-size: 20px;
        letter-spacing: 1px;
    }
    .aside .tags {
        padding: 5px 15px 30px;
    }
    .form-inline .form-control {
        width: 160px;
    }
    .shop-list {
        padding: 60px 0;
    }
    .description .tab-pane{
        min-height: 260px;

    }







}

@media(min-width:1200px){

    /* ------ .main-slider style ---*/    
    .main-slider .core-slider_control-nav-item {
        width: 70px;
        height: 70px;

    }
    .special-offers figure{
        padding: 5px
    }

    .booking {
        padding: 70px 0;
    }
    .about div {
        padding: 150px 0;
    }
    .about p{
        padding: 0 350px;
    }
    .aside .tags {
        padding: 5px 30px 30px;
    }
    .aside .banner {
        max-width: 300px;
    }
    .aside .banner::after {
        transform: rotate(-34deg);
    }
    .form-inline .form-control {
        width: 210px;
    }




}