@media(min-width:768px){

    .form-group{
        display:none;
        position: absolute;
        top:45px;
        right: 0;
        width: 200px;
    }
    header{
        padding: 10px 0;
    }

    header .social .list{
        display:inline-block;  
    }
    .navbar-default {
    padding: 20px 0;
}
    .navbar-default .form-group{
    top:35px;
    }
    .navbar-nav .search{
        margin-left: 30px;
    }
    .core-slider_control-nav {
    bottom: 25%;
    left: 70%;
    height: 50%;
    }
    .core-slider_control-nav-item {
    width: 50px;
    height: 50px;
    margin: 15px 0px;
}

}
@media(min-width:992px){
    header p{
        display:block;
        position: relative;
        top: 10px;
    } 
    .nav > li {
    margin-left: 15px;
}
    .navbar-nav .search{
        margin-left: 60px;
    }
    .core-slider_control-nav-item {
    margin: 30px 0px;
}

}

@media(min-width:1200px){

    .form-group{

        top:50px;

    }
    .core-slider_control-nav-item {
    width: 70px;
    height: 70px;
    margin: 15px 0px;
}
    .core-slider_control-nav-item {
    margin: 35px 0px;
}
}