@media(min-width:768px){
    
    .form-group{
    display:none;
    position: absolute;
    top:45px;
    right: 0;
    width: 200px;
}
}

@media(min-width:992px){
    
    
}

@media(min-width:1200px){
    
    
}