
/*
    font-family: 'Source Sans Pro', sans-serif;

    font-family: 'PT Sans', sans-serif;

    font-family: 'Playball', cursive;

    font-family: 'PT Serif', serif;
*/
@font-face {
    src: url(fonts/slick.eot);
}

body{
    font-family: 'PT Sans', sans-serif;  
}
a:focus{
    outline:none;
}
/* ----  HEADER STYLE  --*/
header{
    background-color: #d25513;
    color:#fff;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 13px;
}
header .social .list{
    margin-top: 10px;  
}
header .social a{
    color:#fff;
    text-decoration: none;
}
header p{
    display: none;
}
.social{
    text-align: right;
}
.speech-bubble{
    color:#d25513;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 2px 10px;
    position: relative;
}
.speech-bubble::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: 5px solid;
    border-left-color: #fff;
    right: -15%;
    top: 50%;
    margin-top: -5px;
}

.dropdown1{
    min-width: 100px; 
    left:-50px;
    text-align: center;
    background-color: #d25513;
}

/* ----NAVIGATION STYLE ---*/

.navbar-brand > img{
    position: relative;
    top: -16px;
}
.navbar-default {
    background-color: #fff;
    border-color: #fff;
    padding: 5px 0;
}
.navbar-default .form-group{
    display:none;
    position: absolute;
    top:5px;
    right: 10px;
    width: 250px;
}
.navbar .nav > li > a {
    padding: 10px 10px;
    color:#000;
    font-weight: bold;
}
.navbar-nav {
    position: relative;
    top: 10px;
}
.navbar-default .navbar-toggle {
    border-color: #d25513;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #d25513;
}
.navbar-default .navbar-toggle:hover, 
.navbar-default .navbar-toggle:focus {
    background-color: #fbc693;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #f8b998;
}
.container > .navbar-header, 
.container-fluid > .navbar-header, 
.container > .navbar-collapse, 
.container-fluid > .navbar-collapse {
    margin-bottom: 5px;
}
.navbar-nav .search a{

    line-height: 20px;
    width:40px;
    height: 40px;
    border-radius: 50%;
    background: #000;
}
.navbar-nav .search a .fa{
    font-size: 13px;
    color:#fff;
    position: relative;

    left: 20%;
}
.navbar-default .navbar-nav > li.search > a:hover, .navbar-default .navbar-nav > li.search > a:focus {
    color: #fff;
    background-color: #000;
}
.navbar {
    margin-bottom: 0;

}
/* ------  .main-slider  style ------ */

.main-slider{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

}
.main-slider .title{
    position: relative;
    display:inline-block;
    top:25px;
    z-index: 100;
}
.main-slider .title h2{
    font-weight: bold;
    font-size: 40px;
    font-family: 'Playball', cursive;
    color:#603b35;
}
.main-slider .title p{
    font-weight: bold;
    font-size: 12px;
}
p.line:before{
    content: '';
    height: 3px;
    width: 15px;
    background: transparent;
    border: 1px solid red;
    position: relative;
    display: inline-block;
    bottom: 2px;
    left: -10px;
    border-top-color:#d25513;
    border-left:none;
    border-right:none;
    border-bottom-color: #d25513;
}
p.line:after{
    content: '';
    height: 3px;
    width: 15px;
    background: transparent;
    border: 1px solid red;
    position: relative;
    display: inline-block;
    bottom: 2px;
    right: -10px;
    border-top-color:#d25513;
    border-left:none;
    border-right:none;
    border-bottom-color: #d25513;
}
.core-slider_control-nav-item {
    display: block;
    width: 40px;
    height: 40px;
    margin:20px 0px;
    background: none;
    background-image: url(style-img/plate1.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid #fff;
}
.core-slider_control-nav {
    bottom: 37%;
    left: 80%;
}
.main-slider .slider-relative{
    position: relative;
}
.core-slider_item img {
    position: relative;
    margin: 0 auto;
}
.main-slider .price{
    width: 120px;
    height: 120px;
    background: #d25513;
    border-radius: 50%;
    position: absolute;
    bottom: 5%;
    left: 57%;
}
.main-slider .price p:first-child{
    padding-top: 30px;
    font-size: 30px;
    font-family: 'Playball', cursive;
}
.main-slider .price p:last-child{
    font-size: 15px;
    margin-top: -15px;
    font-weight: bold;
}
/* --------- .tab-section  style ----------*/
.tab-section{
    padding: 30px 0;
}
.tab-section p{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    letter-spacing: .5px;
    font-size: 15px;
}
.tab-section h2{
    font-family: 'Playball', cursive;
    font-size: 33px;
    margin-bottom: 30px;
}
.nav-pills{
    display: block;
    background: #f2f2f2;
    border-radius: 15px;
    margin-bottom: 20px;
}
.nav-pills > li>a{
    color:#72777b;
}
.nav-pills > li {
    float: none;
}
.nav > li > a:hover, .nav > li > a:focus {
    border-radius: 30px;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #fff;
    background-color: #d25513;
    border-radius: 30px;
}
.slick-prev {
    left: 0px;
}
.slick-next {
    right: 0px;
}
.slick-prev:before, .slick-next:before {
    font-size: 20px;
    color: #ccc;
    display: none;
}
.tab-section .tab-content article{
    border:1px solid #eee;
    margin-left:10px;
    margin-right: 5px;
    font-family: 'PT Serif', serif;
    max-width: 270px;
}
.tab-section .tab-content article h5{
    color:#000;
    font-family: 'PT Serif', serif;
    font-weight: bold;
    height: 30px;
}
.tab-section .tab-content article p{
    color:#929292;
    font-size: 12px;
    font-family: 'PT Serif', serif;
    font-weight: normal;
    letter-spacing: 0;

}
.tab-section .tab-content article p.date:after{
    content: '';
    height: 2px;
    width: 40%;
    background: #d25513;
    position: absolute;
    position: relative;
    display: block;
    margin-bottom: 30px;
    top: 13px;
    left: 30%;
}
.tab-section .tab-content article a.btn{
    border-radius: 20px;
    padding: 6px 20px;
    font-size: 12px;
}
.tab-section .tab-content article a.btn-default{
    margin-bottom: 10px;
    border-color: #eee;
    color:#d25513;
}
.tab-section .tab-content .social{
    border-top:1px solid #eee;
    padding: 10px 3px 0 3px;

}
.tab-section .tab-content .social a{
    color:#bcbcbc;
}

/* -------- .testimonials section   style ------*/

.testimonials{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.testimonials .transparent-color{
    padding: 20px 0;
}
.testimonials h2{
    font-size: 27px;
    font-family: 'Playball', cursive;
    font-weight: bold;
}
.testimonials p{
    font-size: 11px;
    font-weight: bold;
}
.testimonials .slick-dotted.slick-slider {
    max-width: 300px;
    margin: 0 auto;
    margin-top: 30px;
}
.testimonials .transparent-color{
    color: #fff;
}
.people-slide .people figure{
    display:inline-block;
    border: 2px solid #d25513;
    border-radius: 50%;
    margin: 0 auto;
    padding: 5px;

}
.people-slide .people{
    color:#fff;
}
.people-slide .people img{
    border:1px solid transparent;
    border-radius: 50%;
}
.testimonials .slick-prev {
    left: -10px;
    top:40%;
}
.testimonials .slick-next {
    right: -10px;
    top:40%;
}
.testimonials .slick-prev:before{
    content: "\f177";
    font-family: FontAwesome;
    line-height: 12px;
}
.testimonials .slick-prev,
.testimonials .slick-next{
    border:none;
}
.testimonials .slick-prev:before,
.testimonials .slick-next:before {
        font-size: 20px;
        color: #fff;
        display: block;
        opacity: 1;
    }
.testimonials .slick-next:before{
    content: "\f178";
    font-family: FontAwesome;
    line-height: 12px;
}


