
/*
    font-family: 'Source Sans Pro', sans-serif;

    font-family: 'PT Sans', sans-serif;

    font-family: 'Playball', cursive;

    font-family: 'PT Serif', serif;
*/
@font-face {
    src: url(fonts/slick.eot);
}

body{
    font-family: 'PT Sans', sans-serif;  
}
a:focus{
    outline:none;
}
input::-webkit-input-placeholder {
    color: #000 !important;
}

input:-moz-placeholder { /* Firefox 18- */
    color: #000 !important;  
}

input::-moz-placeholder {  /* Firefox 19+ */
    color: #000 !important;  
}

input:-ms-input-placeholder {  
    color: #000 !important;  
}
textarea::-webkit-input-placeholder {
    color: #000 !important;
}

textarea:-moz-placeholder { /* Firefox 18- */
    color: #000 !important;  
}

textarea::-moz-placeholder {  /* Firefox 19+ */
    color: #000 !important;  
}

textarea:-ms-input-placeholder {  
    color: #000 !important;  
}

.form-control{
    border-radius: 0;
    border:1px solid #d5d5d5;
    box-shadow: none;
    height: 45px;
    padding: 0px 12px;
}
/* ----  HEADER STYLE  --*/
header{
    background-color: #d25513;
    color:#fff;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 13px;
}
header .social .list{
    margin-top: 10px;  
}
header .social a{
    color:#fff;
    text-decoration: none;
}
header p{
    display: none;
}
.social{
    text-align: right;
}
.speech-bubble{
    color:#d25513;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 2px 10px;
    position: relative;
}
.speech-bubble::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: 5px solid;
    border-left-color: #fff;
    right: -15%;
    top: 50%;
    margin-top: -5px;
}

.dropdown1{
    min-width: 100px; 
    left:-50px;
    text-align: center;
    background-color: #d25513;
}

/* ----NAVIGATION STYLE ---*/

.navbar-brand > img{
    position: relative;
    top: -16px;
}
.navbar-default {
    background-color: #fff;
    border-color: #fff;
    padding: 5px 0;
}
.navbar-default .form-group{
    display:none;
    position: absolute;
    top:5px;
    right: 10px;
    width: 250px;
}
.navbar .nav > li > a {
    padding: 10px 10px;
    color:#000;
    font-weight: bold;
}
.navbar-nav {
    position: relative;
    top: 10px;
}
.navbar-default .navbar-toggle {
    border-color: #d25513;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #d25513;
}
.navbar-default .navbar-toggle:hover, 
.navbar-default .navbar-toggle:focus {
    background-color: #fbc693;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #f8b998;
}
.container > .navbar-header, 
.container-fluid > .navbar-header, 
.container > .navbar-collapse, 
.container-fluid > .navbar-collapse {
    margin-bottom: 5px;
}
.navbar-nav .search a{

    line-height: 20px;
    width:40px;
    height: 40px;
    border-radius: 50%;
    background: #000;
}
.navbar-nav .search a .fa{
    font-size: 13px;
    color:#fff;
    position: relative;
    left: 20%;
}
.navbar-nav .search .form-control{
    height: 35px;
}
.navbar-default .navbar-nav > li.search > a:hover, .navbar-default .navbar-nav > li.search > a:focus {
    color: #fff;
    background-color: #000;
}
.navbar {
    margin-bottom: 0;

}
/* ------  .main-slider  style ------ */

.main-slider{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

}
.main-slider .title{
    position: relative;
    display:inline-block;
    top:25px;
    z-index: 100;
}
.main-slider .title h2{
    font-weight: bold;
    font-size: 40px;
    font-family: 'Playball', cursive;
    color:#603b35;
}
.main-slider .title p{
    font-weight: bold;
    font-size: 12px;
}
p.line:before{
    content: '';
    height: 3px;
    width: 15px;
    background: transparent;
    border: 1px solid red;
    position: relative;
    display: inline-block;
    bottom: 2px;
    left: -10px;
    border-top-color:#d25513;
    border-left:none;
    border-right:none;
    border-bottom-color: #d25513;
}
p.line:after{
    content: '';
    height: 3px;
    width: 15px;
    background: transparent;
    border: 1px solid red;
    position: relative;
    display: inline-block;
    bottom: 2px;
    right: -10px;
    border-top-color:#d25513;
    border-left:none;
    border-right:none;
    border-bottom-color: #d25513;
}
.main-slider .core-slider_control-nav-item:first-of-type{
    display: block;
    width: 40px;
    height: 40px;
    margin:20px 0px;
    background: none;
    background-image: url(style-img/plate1.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid #fff;
}
.main-slider .core-slider_control-nav-item:nth-of-type(2) {
    display: block;
    width: 40px;
    height: 40px;
    margin:20px 0px;
    background: none;
    background-image: url(style-img/bord-3.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid #fff;
}
.main-slider .core-slider_control-nav-item:last-of-type{
    display: block;
    width: 40px;
    height: 40px;
    margin:20px 0px;
    background: none;
    background-image: url(style-img/bord-4.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid #fff;
}
.main-slider .core-slider_control-nav-item.is-active {
    opacity: .6;
}
.main-slider .core-slider_control-nav {
    bottom: 37%;
    left: 80%;
}
.main-slider .slider-relative{
    position: relative;
}
.main-slider .core-slider_item img {
    position: relative;
    margin: 0 auto;
}
.main-slider .price{
    width: 120px;
    height: 120px;
    background: #d25513;
    border-radius: 50%;
    position: absolute;
    bottom: 5%;
    left: 57%;
}
.main-slider .price p:first-child{
    padding-top: 30px;
    font-size: 30px;
    font-family: 'Playball', cursive;
}
.main-slider .price p:last-child{
    font-size: 15px;
    margin-top: -15px;
    font-weight: bold;
}
/* --------- .tab-section  style ----------*/
.tab-section{
    padding: 30px 0;
}
.tab-section p{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    letter-spacing: .5px;
    font-size: 15px;
}
.tab-section h2{
    font-family: 'Playball', cursive;
    font-size: 33px;
    margin-bottom: 30px;
}
.nav-pills{
    display: block;
    background: #f2f2f2;
    border-radius: 15px;
    margin-bottom: 20px;
}
.nav-pills > li>a{
    color:#72777b;
}
.nav-pills > li {
    float: none;
}
.nav > li > a:hover, .nav > li > a:focus {
    border-radius: 30px;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #fff;
    background-color: #d25513;
    border-radius: 30px;
}
.slick-prev {
    left: 0px;
}
.slick-next {
    right: 0px;
}
.slick-prev:before, .slick-next:before {
    font-size: 20px;
    color: #ccc;
    display: none;
}
.tab-section .tab-content article{
    border:1px solid #eee;
    margin-left:10px;
    margin-right: 5px;
    font-family: 'PT Serif', serif;
    max-width: 270px;
}
.tab-section .tab-content article h5{
    color:#000;
    font-family: 'PT Serif', serif;
    font-weight: bold;
    height: 30px;
}
.tab-section .tab-content article p{
    color:#929292;
    font-size: 12px;
    font-family: 'PT Serif', serif;
    font-weight: normal;
    letter-spacing: 0;

}
.tab-section .tab-content article p.date:after{
    content: '';
    height: 2px;
    width: 40%;
    background: #d25513;
    position: absolute;
    position: relative;
    display: block;
    margin-bottom: 30px;
    top: 13px;
    left: 30%;
}
.tab-section .tab-content article a.btn{
    border-radius: 20px;
    padding: 6px 20px;
    font-size: 12px;
}
.tab-section .tab-content article a.btn-default{
    margin-bottom: 10px;
    border-color: #eee;
    color:#d25513;
}
.tab-section .tab-content .social{
    border-top:1px solid #eee;
    padding: 10px 3px 0 3px;

}
.tab-section .tab-content .social a{
    color:#bcbcbc;
}

/* -------- .testimonials section   style ------*/

.testimonials{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.testimonials .transparent-color{
    padding: 20px 0;
    color: #fff;
}
.testimonials h2{
    font-size: 27px;
    font-family: 'Playball', cursive;
    font-weight: bold;
}
.testimonials p{
    font-size: 11px;
    font-weight: bold;
}
.testimonials h5{
    font-weight: bold;
}
.testimonials h5 + p{
    color: #d9d9da;
}
.testimonials .slick-dotted.slick-slider {
    max-width: 300px;
    margin: 0 auto;
    margin-top: 30px;
}
.testimonials .slick-dots li {
    position: relative;
    display: none;
}
.people-slide .people figure{
    display:inline-block;
    border: 2px solid #d25513;
    border-radius: 50%;
    margin: 0 auto;
    padding: 5px;

}
.people-slide .people{
    color:#fff;
}
.people-slide .people img{
    border:1px solid transparent;
    border-radius: 50%;
}
.testimonials .slick-prev {
    left: -10px;
    top:40%;
}
.testimonials .slick-next {
    right: -10px;
    top:40%;
}
.testimonials .slick-prev:before{
    content: "\f177";
    font-family: FontAwesome;
    line-height: 12px;
}
.testimonials .slick-prev,
.testimonials .slick-next{
    border:none;
}
.testimonials .slick-prev:before,
.testimonials .slick-next:before {
    font-size: 20px;
    color: #fff;
    display: block;
    opacity: 1;
}
.testimonials .slick-next:before{
    content: "\f178";
    font-family: FontAwesome;
    line-height: 12px;
}
.testimonials .quote{
    display: inline-block;
    width: 35px;
    height: 35px;
    background: #eee;
    border: 1px solid #eee;
    border-radius: 50%;
    line-height: 30px;
}
.testimonials p:last-of-type{
    font-weight: normal;
    margin-bottom: 20px;
}

/*----- .special-offers section  style ----*/
.special-offers{
    padding: 30px 0;
}
.special-offers h4{
    font-family: 'Playball', cursive;
    font-size: 20px;
    margin-bottom: 30px;
}
.special-offers p{
    color:#898d90;
}
.special-offers h5{
    font-weight: bold;
    color:#d25513;
    margin-top:20px;
    font-size: 16px;
    margin-bottom: 20px;
}
.special-offers a.btn-default{
    color: #fff;
    background-color: #d25513;
    border-color: #d25513;
    font-weight: bold;
}
.special-offers a.btn{
    border-radius: 30px;
    padding: 10px 30px;
    margin-top:20px;
}
.special-offers .offers h5{
    font-weight: normal;
    font-family: 'Playball', cursive;
    font-size: 18px;
}
.special-offers .offers h3{
    font-weight: bold;
    margin-bottom: 30px;
}
.special-offers .offers h6{
    font-weight: bold;
    font-size: 14px;
    display: inline-block;
}
.special-offers .offers h6 + span{
    font-weight: bold;
}
.special-offers figure{
    max-width: 100px;
}
.special-offers figure img{
    border:3px solid #f5f5f5;
}
/* ------- .services section  style ------*/
.services{
    background: #f5f5f5;
    padding: 30px 0;
}
.services h2{
    font-family: 'Playball', cursive;
    font-size: 35px;
}
.services h2 + p{
    font-weight: bold;
    margin-bottom: 30px;
    color:#333;
}
.services p{
    color:#72777b;
}
.services .flower{
    margin-bottom: 30px;
}
.services .flower + p{
    color:#72777b;
    margin-bottom: 30px;
}
.services article{
    margin-bottom: 25px;
}
.services article figure{
    height: 80px;
}
.services article figure img{
    margin:0 auto;

}
.services article h4{
    font-weight: bold;
}
/*---- .booking section  style----*/
.booking{
    padding: 30px 0;
}
.booking .chef-back{
    background-repeat: no-repeat;
    background-position-y: -120px;
}
.booking h2{
    font-family: 'Playball', cursive;
    font-size: 35px;
}
.booking h2 + p{
    font-weight: bold;
    color:#333;
}
.booking img{
    margin-bottom: 20px;
    margin-top:20px;
}
.booking img + p{
    color:#72777b;
    margin-bottom: 50px;
}
.booking form{
    max-width: 400px;
    margin: 0 auto;
}
.booking form h2{
    margin-bottom: 30px;
}
.booking fieldset {
    border: 5px solid rgba(245,245,245, .7);
    padding: 10px 30px;
}
.booking .form-control{
    border-radius: 0;
}
.booking .form-group .btn-default {
    color: #fff;
    background-color: #d25513;
    border-color: #d25513;
    width: 60%;
    height: 50px;
    font-weight: bold;
}
.booking .form-group .btn {
    border-radius: 30px;
    margin-top: 15px;
    margin-bottom: 10px;
}
select.form-control {
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    appearance:none;
    background-image:  url('style-img/select-arrow.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right center;
    color:#000;
}

.booking .input-group-addon{
    border-radius: 0;
}
.booking .form_date input,
.booking .form_time input{
    background: #fff;
    border-right:none;
}
.booking .form_date .input-group-addon,
.booking .form_time .input-group-addon{
    background-color: #fff;
}

.pictures .pic{
    float: left;
    width:20%;
    overflow: hidden;
    margin-bottom: -5px;
}
.pictures a:hover img{
    transition: 1s linear;
    transform: scale(1.2);
}
footer{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
footer div{
    background-color: rgba(210,85,19,.8);
    padding: 10px 0;
}
footer ul{
    margin:20px 0;
}
.list-inline > li {

    margin: 0 5px;
}
footer ul li a{
    color: #fff;
    padding: 2px;
}
footer ul a .fa{
    font-size: 15px;
    transition: 1s;
}
footer ul a:hover .fa{
    transform: rotateZ(360deg);
}
footer ul a img{
    transition: 1s;
}
footer ul a:hover img{
    transform: rotateZ(360deg);
}
footer ul a:hover, 
footer ul a:focus {
    color: #fff;
    text-decoration: none;
}
footer p{
    font-size: 12px;
    color:#fff;
}
footer p:last-of-type{
    font-size: 10px;
}

.about{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.about div{
    background-color: rgba(0,0,0,.7);
    padding: 30px 0;
    color:#fff;
}
.about h2{
    font-size: 40px;
    font-family: 'Playball', cursive;
    display: inline-block;
}
.about img{
    width:40px;
    position: relative;
    top:-10px;
}
.about h5{
    font-weight: bold;
    color:#d8d8d7;
}
.about h5 + span{
    width:5px;
    height: 5px;
    border:1px solid #fff;
    background: #fff;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    margin-bottom: 30px;
    margin-top: 15px;
}
.about h5 + span:before{
    content: '';
    display: inline-block;
    height: 1px;
    width: 80px;
    background: #83817f;
    position: absolute;
    left:30px;
}
.about h5 + span:after{
    content: '';
    display: inline-block;
    height: 1px;
    width: 80px;
    background: #83817f;
    position: absolute;
    right:30px;
}
.section-slider{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.section-slider .trans-color{
    background: rgba(255,255,255,.4);
}
.section-slider .core-slider_control-nav-item.is-active {
    opacity: .6;
    border: 1px solid white;
    position: relative;
}
.section-slider .core-slider_control-nav-item.is-active:before{
    content: " ";
    position: absolute;
    top: -6px;
    left: -6px;
    right: 0px;
    bottom: 0px;
    border: 1px solid white;
    border-radius: 50%;
    padding: 0px;
    width: 20px;
    height: 20px;
}
.history{
    padding: 40px 0;
}
.history h2{
    font-size: 35px;
    font-family: 'Playball', cursive;
    margin-top: 0px;
}
.history .line{
    font-weight: bold;
}
.history img:first-of-type{
    margin-bottom: 30px;
}
.history p:nth-of-type(2){
    margin-bottom: 30px;
    color:#72777b;
}
.history .block-quote{
    color:#d25616;
    font-family: 'Playball', cursive;
    display: inline;
    font-size: 18px;
}
.history .quotLeft{
    position: relative;
    bottom: 10px;
}
.history .quoteRight{
    position: relative;
    top:10px;
}
.history p:last-of-type{
    margin-top: 30px;
    color:#72777b;
}
.history .taste figure{
    overflow: hidden;
}
.history .taste{
    position: relative;
}
.history .taste img{
    max-height: 450px;
    transform: translateX(-50px);
}
.history .taste div{
    width: 180px;
    height: 180px;
    position: absolute;
    border: 1px solid #bbbab6;
    border-radius: 50%;
    top: 25%;
    left: 50%;
    transform: translateX(-90px);
    box-shadow: 0 0 0 10px #ebeae6;
    background: #ebeae6;
    opacity:.8;
}
.history .taste div p{
    margin-top:30%;
    color:#d45415;
    font-family: 'Playball', cursive;
    font-size: 38px;
    line-height: 30px;
}
.chef{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.chef-bcgr{
    background-color: rgba(255,255,255,.8);
    padding: 50px 0 0;
}
.chef article{
    max-width: 470px;
}
.chef h2{
    font-family: 'Playball', cursive;
    font-size: 35px;
}
.chef h5{
    font-weight: bold;
    letter-spacing: 2px;
}
.chef h5 + img{
    margin:25px 0;
}
.chef p{
    color:#7d8185;
}
.chef a{
    font-family: 'Playball', cursive;
    font-size: 21px;
    color:#7d8185;
    margin-top: 15px;
    display: inline-block;
}
/*------  classic_menu.html strana ----*/ 
.appetizers{
    padding: 50px 0;
}
.appetizers h2{
    font-family: 'Playball', cursive;
    font-size: 40px;
}
.appetizers p{
    font-weight: bold;
    margin-bottom: 50px;
}
.appetizers h3{
    font-family: 'Source Sans Pro', sans-serif;
    font-size:18px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 20px;
}
.appetizers h3 span{
    font-family: 'PT Sans', sans-serif;
    color:#72777b;
    font-size: 12px;
    text-transform: none;
    font-weight: normal;
}
.lunch{
    overflow-x: hidden;
}
.lunch li span{
    font-family: 'PT Serif', serif;
    font-weight: bold;
    font-style: italic;
}
.lunch li{
    margin-bottom: 20px;
}
.lunch li:last-of-type{
    margin-bottom: 0;
}
.lunch li:before{
    float:left;
    width:0;
    white-space: nowrap;
    color: #333;
    content:'.....................................................................................................................................................................................................................................................................'
}
.lunch li span:first-child{
    background: #fff;
}
.lunch li .price{
    float:right;
    background: #fff;
    font-style: normal;
}
.morning{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.morning .second-bcgr{
    padding: 100px 0;
    background-color: rgba(0,0,0,.3);
}
.morning h2{
    display: inline-block;
    font-family: 'Playball', cursive;
    font-size: 27px;
    color:#fff;
    letter-spacing: 2px;
}
.morning img{
    position: relative;
    top: -12px;
    left:-5px;
}
.morning p {
    color: #fff;
    font-weight: bold;
    font-size: 13px;
}
.morning .coffee{
    top:-20px;
}

/*----- .morning-breakfast section style -----*/
.morning-breakfast{
    padding: 50px 0;
}
.morning-breakfast h2{
    font-family: 'Playball', cursive;
    font-size: 40px;
}
.morning-breakfast .line{
    font-weight: bold;
    margin-bottom: 50px;
    font-size: 15px;
}
.morning-breakfast .lunch span{
    font-style: normal;
}
/*---- .dessert section style-----*/
.dessert{
    padding: 50px 0;
}
.dessert h2{
    font-family: 'Playball', cursive;
    font-size: 40px;
}
.dessert .line{
    font-weight: bold;
    margin-bottom: 50px;
}
.dessert .lunch span{
    font-style: normal;
}
.lunch p{
    color:#929292;
    font-size: 11px;
    font-family: 'PT Serif', serif;
}
.specials{
    padding-top: 0;
}
/* ---- contact_us.html page ----*/
.contact{
    padding: 40px 0;
}
.contact h2{
    font-family: 'Playball', cursive;
    font-size: 40px;
}
.contact p{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 16px;
}
.contact h4{
    font-family: 'Playball', cursive;
    margin-bottom: 20px;
    font-size: 20px;
}
.contact img{
    margin-bottom: 20px;
}
.contact textarea.form-control{
    height: 140px;
    padding: 10px;
}
.contact .btn{
    border-radius: 30px;
    background: #d25513;
    border:1px solid #d25513;

}
.contact .btn-default{
    color:#fff;
    font-weight: bold;
}
#map {
    height: 200px;
    width: 100%;
    background-color: grey;
}
.locations{
    padding: 40px 0;
}
.locations h2{
    font-family: 'Playball', cursive;
    font-size: 40px;
}
.locations .line{
    color:#333;
    font-weight: bold;
    font-size: 16px;
}
.locations img{
    margin-bottom: 50px;
}
.locations article{
    margin-bottom: 30px;
    text-align: center;
}
.locations h4{
    font-weight: bold;
    margin-bottom: 25px;
    font-size: 20px;
}
.locations .london:after{
    content:'';
    height: 1px;
    display: block;
    width: 20%;
    background: #c0bebd;
    position: relative;
    top: 13px;
    left: 40%;
}
.locations p{
    color:#72777b;
}
.locations a{
    color:#333;
    font-weight: bold;
    margin-top:25px;
    display:inline-block;
    border-bottom: 1px solid #c0bebd;
    padding-bottom: 5px;
}
.locations a .fa{
    margin-left: 10px;
}
.locations a:hover, a:focus {
    color: #d25513;
    text-decoration: none;
    border-bottom-color: #d25513;
}
/* ---- blog_list.html page style -----*/

.blog{
    padding: 40px 0;
}
.blog .blog_left{
    border:1px solid #e8e7e4;
    overflow: hidden;
    margin-bottom: 30px;
}
.blog .blog_left figure{
    height: 200px;
    overflow: hidden;
}
.blog .blog_left h3{
    font-weight: bold;
    font-family: 'PT Serif', serif;
    font-size: 20px;
}
.blog span{
    color:#929292;
    font-family: 'PT Serif', serif;
}
.blog p,
.blog a{
    color:#72777b;
}
.blog p span:first-of-type{
    margin-right: 15px;
}
.blog .blog_left div{
    padding: 0 20px;
}
.blog .blog_left a:first-of-type{
    margin-right: 15px;
}
.blog .blog_left a.btn{
    display: block;
    width:160px;
    border-radius: 30px;
    margin:15px 0 15px;
    font-weight: bold;
    height: 50px;
    color: #333;
}
.blog .blog_left a.btn-default{
    background: #f2f2f2;
    padding: 15px 12px;
}
.blog .blog_left a.btn-default:hover{
    background: #d25513;
    border-color: #d25513;
}
.blog .blog_left a.btn:hover{
    color:#fff;
}
.pages{
    position: relative;
    text-align: center;
}
.pages li:last-of-type{
    position: absolute;
    right: 0;
}
.pages li .btn-default{
    background: #f2f2f2;
    color:gray;
}
.pages li .btn-default:hover, 
.pages li .btn-default:focus, 
.pages li .btn-default.focus, 
.pages li .btn-default:active, 
.pages li .btn-default.active, 
.pages li .open > .dropdown-toggle.btn-default {
    color: #d25513;
    background-color: transparent;
    border-color: #d25513;
}
.next a.btn{
    border-radius: 50%;
}
.blog .next .fa{
    font-family: FontAwesome;
}
.aside{
    margin-top: 30px;
}
.aside article{
    text-align: left;
    padding:5px 30px;
    border:1px solid #e8e7e4;
    max-width: 360px;
    margin: auto;
    margin-bottom: 30px;
}
.aside h3{
    border-bottom: 1px solid #e8e7e4;
    padding-bottom: 15px;
    font-family: 'Playball', cursive;
    margin-bottom: 20px;
}
.aside .blog-right{
    text-align: center;
}
.blog-right h3{
    border-bottom: none;
    padding-bottom: 0px;
}
.blog-right h5{
    border-bottom: 1px solid #e8e7e4;
    padding-bottom: 15px;
}
.aside .blog_man{
    width:200px;
    height: 200px;
    border-radius: 50%;
    background-size: cover;
    background-position: center center;
    background-color: #f2f2f2;
    display: inline-block;
    margin-top: 25px;
}
.categories ul li{
    margin-bottom: 15px;
}
.categories ul li a{
    color:#72777b;
}
.categories ul li a:hover span{
    color: #d25513;
}
.categories ul li span{
    font-family: 'PT Sans', sans-serif;  
}
.aside .inst{
    margin-bottom: 20px;
}
.aside .advertisement{
    padding-bottom: 30px;
}
.aside .latest figure{
    float:none;
    width:100%;
    margin-bottom: 20px;
    max-height: 80px;
    overflow: hidden;
}
.aside .latest span{
    color:#929292;
    font-size: 13px;
}
.aside .banner{
    position: relative;
    height: 200px;
    background-size: cover;
    background-position: center center;
    max-width: 230px;
    margin: auto;
}
.aside .banner:after{
    content: '';
    display: block;
    height: 1px;
    background: #a1a3a2;
    transform: rotate(-40deg);
    position: relative;
    top: -100px;
    left: -5px;
    width: 105%;
}
.aside .banner div{
    background-color: rgba(0,0,0,.4);
    height: 200px;
}
.aside .banner h4{
    position: absolute;
    bottom: 30%;
    left:40%;
    color: #fff;
    font-size: 20px;
    z-index: 100;
}
.aside .tags {
    padding: 5px 20px 30px;
}
.aside .tags a.btn{
    padding: 6px 20px;
    border-radius: 30px;
    margin-bottom: 10px;
    margin-left:5px;
}
.aside .tags a.btn:hover{
    border-color:#d25513;
    color:#d25513;
    background: transparent;
}
/*  shop_list.html psge style ---*/
.fa-heart{
    color:#d25513;
}
.shop-list{
    padding: 30px 0;
}
.shop-list select.form-control{
    max-width: 200px;
    display: inline-block;
    height: 35px;
}
.shop-list .form-group{
    text-align: right;
}
.shop-list select.form-control {
    color: #929292;
}
.shop-list .product article{
    border:1px solid #ecebe7;
    margin-bottom: 30px;
    max-width: 267px;
    margin: auto;
    margin-bottom: 30px;
}
.shop-list h4{
    font-weight: bold;
}
.shop-list h4 + p:after{
    content:'';
    height: 2px;
    display: block;
    width:35%;
    background: #d25515;
    margin: 15px auto;
}
.shop-list .product p + a.btn{
    border-radius: 30px;
    color:#d25515;
    font-weight: bold;
    padding: 6px 20px;
    letter-spacing: 1px;
    margin-top: 5px;
}
.shop-list .product article a.btn:hover{
    background: #d25515;
    border-color: #d25515;
    color:#fff;
}
.shop-list .product article ul{
    border-top: 1px solid #eee;
    margin-top: 20px;
    padding: 10px 0 5px;
}
.shop-list .product ul a{
    color:#929292;
}
.shop-list .aside article{
    padding: 5px 15px;
}
input[type=range] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 100%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
    margin-bottom: 20px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}
input[type=range]:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}
input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
    /* Hides the slider so custom styles can be added */
    background: transparent; 
    border-color: transparent;
    color: transparent;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #d25513;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}
/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {

    border: 1px solid #d25513;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
}
/* All the same stuff for IE */
input[type=range]::-ms-thumb {

    border: 1px solid #d25513;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
}
.shop-list .aside .filter{
    position: relative;
}
.shop-list .aside .filter span{
    position: absolute;
    right: 15px;
    bottom: 30px;
    font-size: 12px;
}
.shop-list .aside .filter a.btn-default {
    color: #fff;
    background-color: #d25515;
    border-color: #d25515;
}
.shop-list .aside .filter a.btn{
    border-radius: 30px;
    margin-bottom: 20px;
    font-size: 13px;
}
.shop-list .aside .filter a.btn-default:hover{
    color: #d25515;
    background-color: transparent;
    border-color: #d25515;
}
.shop-list .aside .latest figure {
    max-height: 100%
}
.shop-list .aside .latest .rating{
    margin-bottom: 30px;
}
.shop-list .aside .latest .rating .fa{
    color:#d25515;
}
.shop-list .aside .latest .rating span.gray{
    color:#929292;
}
.shop-list .aside .tags {
    padding: 5px 10px;
}
/*------ shop-product.html page style -----*/
.gallery-slider{
    padding: 30px 0;
}

.gallery-slider .review p:first-of-type{
    display: inline-block;
    font-size: 11px;
    color:#d25515;
}
.gallery-slider .review .star2color{
    position: relative;
    top:-1px;
    right:2px;
}
.gallery-slider .review .star2color + span{
    color:#929292;
}
.gallery-slider .review del{
    color:#929292;
    margin-left: 15px;
}
.gallery-slider p:nth-of-type(3),
.gallery-slider p:nth-of-type(4){
    color:#929292;
}
.gallery-slider .form-group{
    margin: 10px 0 20px;
}
.gallery-slider .form-group label{
    margin-right: 8px;
}

.gallery-slider .review ul{
    display: inline-block;
}
.gallery-slider .review ul li a:hover{
    color: #d25513;
}
.gallery-slider .review ul li a:hover span{
    border-color: #d25513;
}
.gallery-slider .review select.form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background-image: url('style-img/select-arrow.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right center;
    color: #000;
}
.gallery-slider .cart{
    display:inline-block;
}
.gallery-slider .input-group{
    width: 90px;
}
.gallery-slider .input-group button{
    height: 35px;
    font-size: 18px;
    color:#929292;
}
.gallery-slider .order-quantity .btn{
    border: none;
}
.gallery-slider .btn-default:hover, 
.gallery-slider .btn-default:focus, 
.gallery-slider .btn-default.focus, 
.gallery-slider .btn-default:active, 
.gallery-slider .btn-default.active, 
.gallery-slider .open > .dropdown-toggle.btn-default {
    background-color: transparent;
    outline: none;
    box-shadow: none;
}
.gallery-slider .quantity{
    border:none;
    text-align: center;
    padding: 0;
    height: 35px;
}
.gallery-slider .order-quantity{
    border:1px solid #ccc;
}
.gallery-slider .order-quantity .form-control:focus{
    box-shadow: none;
}
.gallery-slider .cart + a.btn{
    position: relative;
    bottom: 15px;
    margin: 0 15px;
    border-radius: 30px;
    width:150px;
    background: #d25515;
    color:#fff;
    border: 1px solid #d25515;
    letter-spacing: 1px;
    font-weight: bold;
    padding: 7px;
}
.social-list ul{
    margin-left: 15px;
}
.social-list span{
    width: 40px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    font-size: 15px;
}
.social-list a{
    color: #72777b;
}
.social-list li{
    margin: 0;
    padding: 0;
}
.description{
    padding: 30px 0;
}
.description .nav-tabs > li.active > a, 
.description .nav-tabs > li.active > a:hover, 
.description .nav-tabs > li.active > a:focus {
    color: #555;
    cursor: default;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-bottom-color: transparent;
    border-radius: 0;
}
.description .nav > li > a:hover, 
.description .nav > li > a:focus {
    border-radius: 0;
    background-color: #f2f2f2;
}
.description .nav > li > a {
    color: #333;
    font-weight: bold;
}
.description .tab-pane{
    min-height: 320px;
    padding: 30px 20px 0px;

}
.description .tab-pane p{
    color:#929292;
}
.description .nav-tabs {
    border-bottom: none;
    text-align: center;
}
.description .nav-tabs > li {
    float: none;
}
.description .border{
    border:1px solid #e8e8e6;
}
.description h4{
    font-family: 'Playball', cursive;
    color:#333;
    font-size: 22px;
}
.related h3{
    font-family: 'Playball', cursive;
    margin-bottom: 30px;
    font-size: 35px;
}
/*----- blog_details.html page style-----*/
.blog-details{
    padding: 40px 0;
}
.media-blog{
    border: 1px solid #e8e7e4;
    padding: 20px 30px 0;
    color:#72777b;
}
.media-blog h2,
.media-blog h3{
    color:#333;
    font-weight: bold;
    font-family: 'PT Serif', serif;
}
.media-blog h3:first-of-type{
    margin: 25px 0;
}
.media-blog p.comment{
    border: 1px solid #e8e7e4;
    padding: 10px 0;
}
.media-blog p span{
    display: block;
    margin-bottom: 5px;

}
.media-blog img{
    margin-bottom: 20px;
}
blockquote {
    border-left: 5px solid #d25515;
    background: #f5f5f5;
    color:#333;
    padding: 25px;
    font-family: 'Playball', cursive;
    margin: 25px 0;
}
blockquote p{
    display: inline;
}
.media-blog .blog-list{
    margin:25px 0;
}
.media-blog .blog-list + p{
    margin-bottom: 25px;
}
.media-blog .links{
    border-bottom: 1px solid #e8e7e4;
    padding: 20px 0;
    border-top: 1px solid #e8e7e4;
    text-align: center;
}
.media-blog .tags li a{
    color:#929292;
}
.media-blog .links ul li a:hover{
    color:#d25513;
}
.media-blog .links ul li a:hover span{
    border-color:#d25513;
}
.left{
    height: 100px;
    padding: 25px 0;
    letter-spacing: 1px;
}
.right{
    text-align: right;
    height: 100px;
    padding: 25px 0;
    letter-spacing: 1px;
}
.left p{
    color:#333;
}
.right p{
    color:#333;
}
.posts{
    padding: 25px 0;
    font-family: 'PT Serif', serif;
}
.posts h4{
    margin-bottom: 20px;
    font-weight: bold;
}
.posts h5{
    font-weight: bold;
}
.posts .thumbnail{
    padding: 0;
    margin: 20px auto;
    max-width: 350px;
}
.chef-cooker{
    border:1px solid #e8e7e4;
    padding: 20px;
}
.chef-cooker h3{
    font-weight: bold;
}
.chef-cooker figure{
    max-width: 150px;
    overflow: hidden;
    margin: auto;
}
.chef-cooker h3 + p{
    font-size: 12px;
    color:#b3b3b3;
    margin-top:-5px;
}
.chef-cooker p{
    color:#929292;
    margin-bottom: 20px;
}
.chef-cooker figure img{
    border:3px solid #e1e1e1;
}
.chef-cooker .social-list a span{
    background: #d25513;
    border:1px solid #d25513;
    color:#fff;
}
.chef-cooker .social-list a:hover span{
    background: transparent;
    border-color:#d25513;
    color:#d25513;
}
.comments{
    margin:30px 0;
    border: 1px solid #e8e7e4;
    padding: 10px 30px;
    color:#929292;
}
.comments h3{
    color:#333;
    font-family: 'PT Serif', serif;
    font-weight: bold;
}
.comments .media p{
    margin-top: 10px;
}
.comments .media p:first-of-type{
    padding-bottom: 15px;
}
.comments .media h3{
    border-bottom: 1px solid #e8e7e4;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.comments .media-body img + span{
    font-weight: bold;
    color:#929292;
}
.comments .media-body a:hover{
    color:#d25513;
}
.comments .media-body a:hover span{
    color:#d25513;
    text-decoration: none;
}
.comments .media-body hr{
    position: absolute;
    width: 90%;
    background: #000;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.media-list .first{
    padding: 15px 0;
    margin-left: -80px;
}
.media-list .second{
    border-top:1px solid #e8e7e4;
    padding: 15px 0;
}
.comments .pages {
    text-align: left;
}
.reply{
    border: 1px solid #e8e7e4;
    padding: 20px;
}
.reply h3{
    font-family: 'PT Serif', serif;
    font-weight: bold;
}
.reply h3 + p{
    color:#929292;
    margin-bottom: 25px;
}
.reply textarea.form-control {
    height: 140px;
    padding: 10px;
}
.reply .btn{
    width:100%;
    border-radius: 30px;
    background: #d25513;
    border:1px solid #d25513;
    color:#fff;
    font-weight: bold;
    margin-top: 15px;
    height: 40px;
}
.reply .help-block {
    height: 5px;
    text-align: right;
}

.help-block {
    display: block;
    margin-top: 0px;
    height: 20px;
    font-size: 12px;
}

/* ---gallery.html style ---*/
.show_more{
    display:block;
    text-align: center;
    margin-bottom: 50px;
}
.show_more span{
    border:1px solid #d25513;
    height: 50px;
    width: 150px;
    color:#fff;
    background: #d25513;
    display: inline-block;
    line-height: 45px;
    border-radius: 30px;
    font-weight: bold;
    font-size: 15px;
}
.show_less{
    display:block;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}
.show_less span{
    border:1px solid #d25513;
    height: 50px;
    width: 150px;
    color:#fff;
    background: #d25513;
    display: inline-block;
    line-height: 45px;
    border-radius: 30px;
    font-weight: bold;
    font-size: 15px;
}
.simplefilter li{
    background: transparent;
    color:#333;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
}
.simplefilter li.active{
    background-color: transparent;
    color: #d25513;
}
.not-found{
    background-color: #e6e7e2;
    padding: 30px 0;
}
.not-found h1{
    color:#bdb9b6;
    font-size: 50px;
}
.not-found h1 span{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #f5f5f5;
    display: inline-block;
    margin: 0 10px;
}
.not-found h2{
    font-family:'Playball', cursive;
    color:#bdb9b6;
    margin-bottom: 30px;
}
.not-found p,
.not-found span{
    color:#bdb9b6;
}
.not-found address{
    display: inline-block;
    color:#d25513;
}
.not-found .input-group .form-control{
    background-color: transparent;
    border:none;
}
.not-found .input-group .form-control:focus{
    box-shadow: none;
}
.not-found .input-group .btn{
    height: 45px;
    border:none;
    background-color: transparent;
}
.not-found .input-group .btn:focus{
    outline:none;
    box-shadow: none;
}
.not-found .input-group{
    border-bottom: 2px solid #bfc0bd;
}
.not-found .input-group input::-webkit-input-placeholder {
    color: #999999 !important;
}

.not-found .input-group input:-moz-placeholder { /* Firefox 18- */
    color: #999999 !important;  
}

.not-found .input-group input::-moz-placeholder {  /* Firefox 19+ */
    color: #999999 !important;  
}

.not-found .input-group input:-ms-input-placeholder {  
    color: #999999 !important;  
}
#map{

    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}






